In [1]:
data = "gs://himanshu-bigdata/notebooks/data/"

In [2]:
!gsutil ls {data + "washington-dc"}

gs://himanshu-bigdata/notebooks/data/washington-dc/
gs://himanshu-bigdata/notebooks/data/washington-dc/DC_Properties.csv

In [3]:
dcdata = spark.read.format("csv")\
  .option("header", "true")\
  .option("inferSchema", "true")\
  .load("gs://himanshu-bigdata/notebooks/data/washington-dc/DC_Properties.csv")

In [4]:
dcdata.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- BATHRM: integer (nullable = true)
 |-- HF_BATHRM: integer (nullable = true)
 |-- HEAT: string (nullable = true)
 |-- AC: string (nullable = true)
 |-- NUM_UNITS: double (nullable = true)
 |-- ROOMS: integer (nullable = true)
 |-- BEDRM: integer (nullable = true)
 |-- AYB: double (nullable = true)
 |-- YR_RMDL: double (nullable = true)
 |-- EYB: integer (nullable = true)
 |-- STORIES: double (nullable = true)
 |-- SALEDATE: timestamp (nullable = true)
 |-- PRICE: double (nullable = true)
 |-- QUALIFIED: string (nullable = true)
 |-- SALE_NUM: integer (nullable = true)
 |-- GBA: double (nullable = true)
 |-- BLDG_NUM: integer (nullable = true)
 |-- STYLE: string (nullable = true)
 |-- STRUCT: string (nullable = true)
 |-- GRADE: string (nullable = true)
 |-- CNDTN: string (nullable = true)
 |-- EXTWALL: string (nullable = true)
 |-- ROOF: string (nullable = true)
 |-- INTWALL: string (nullable = true)
 |-- KITCHENS: double (nullable = true)
 |-- FIREPLACES: integer (nullable = true)
 |-- USECODE: integer (nullable = true)
 |-- LANDAREA: integer (nullable = true)
 |-- GIS_LAST_MOD_DTTM: timestamp (nullable = true)
 |-- SOURCE: string (nullable = true)
 |-- CMPLX_NUM: double (nullable = true)
 |-- LIVING_GBA: double (nullable = true)
 |-- FULLADDRESS: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- STATE: string (nullable = true)
 |-- ZIPCODE: double (nullable = true)
 |-- NATIONALGRID: string (nullable = true)
 |-- LATITUDE: double (nullable = true)
 |-- LONGITUDE: double (nullable = true)
 |-- ASSESSMENT_NBHD: string (nullable = true)
 |-- ASSESSMENT_SUBNBHD: string (nullable = true)
 |-- CENSUS_TRACT: double (nullable = true)
 |-- CENSUS_BLOCK: string (nullable = true)
 |-- WARD: string (nullable = true)
 |-- SQUARE: string (nullable = true)
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- QUADRANT: string (nullable = true)

In [5]:
dcdata.show (5)

+---+------+---------+-------------+---+---------+-----+-----+------+-------+----+-------+-------------------+---------+---------+--------+------+--------+-------+-------------+---------+---------+------------+----------+--------+--------+----------+-------+--------+-------------------+-----------+---------+----------+--------------------+----------+-----+-------+------------------+-----------+------------+---------------+------------------+------------+------------+------+------+------------------+------------------+--------+
|_c0|BATHRM|HF_BATHRM|         HEAT| AC|NUM_UNITS|ROOMS|BEDRM|   AYB|YR_RMDL| EYB|STORIES|           SALEDATE|    PRICE|QUALIFIED|SALE_NUM|   GBA|BLDG_NUM|  STYLE|       STRUCT|    GRADE|    CNDTN|     EXTWALL|      ROOF| INTWALL|KITCHENS|FIREPLACES|USECODE|LANDAREA|  GIS_LAST_MOD_DTTM|     SOURCE|CMPLX_NUM|LIVING_GBA|         FULLADDRESS|      CITY|STATE|ZIPCODE|      NATIONALGRID|   LATITUDE|   LONGITUDE|ASSESSMENT_NBHD|ASSESSMENT_SUBNBHD|CENSUS_TRACT|CENSUS_BLOCK|  WARD|SQUARE|                 X|                 Y|QUADRANT|
+---+------+---------+-------------+---+---------+-----+-----+------+-------+----+-------+-------------------+---------+---------+--------+------+--------+-------+-------------+---------+---------+------------+----------+--------+--------+----------+-------+--------+-------------------+-----------+---------+----------+--------------------+----------+-----+-------+------------------+-----------+------------+---------------+------------------+------------+------------+------+------+------------------+------------------+--------+
|  0|     4|        0|    Warm Cool|  Y|      2.0|    8|    4|1910.0| 1988.0|1972|    3.0|2003-11-25 00:00:00|1095000.0|        Q|       1|2522.0|       1|3 Story|   Row Inside|Very Good|     Good|Common Brick|Metal- Sms|Hardwood|     2.0|         5|     24|    1680|2018-07-22 18:01:43|Residential|     null|      null|1748 SWANN STREET NW|WASHINGTON|   DC|20009.0|18S UJ 23061 09289|38.91468021|-77.04083204|     Old City 2|  040 D Old City 2|      4201.0| 004201 2006|Ward 2|  0152|-77.04042907495098|38.914881109044266|      NW|
|  1|     3|        1|    Warm Cool|  Y|      2.0|   11|    5|1898.0| 2007.0|1972|    3.0|2000-08-17 00:00:00|     null|        U|       1|2567.0|       1|3 Story|   Row Inside|Very Good|     Good|Common Brick|  Built Up|Hardwood|     2.0|         4|     24|    1680|2018-07-22 18:01:43|Residential|     null|      null|1746 SWANN STREET NW|WASHINGTON|   DC|20009.0|18S UJ 23067 09289| 38.9146833|-77.04076447|     Old City 2|  040 D Old City 2|      4201.0| 004201 2006|Ward 2|  0152|-77.04042907495098|38.914881109044266|      NW|
|  2|     3|        1|Hot Water Rad|  Y|      2.0|    9|    5|1910.0| 2009.0|1984|    3.0|2016-06-21 00:00:00|2100000.0|        Q|       3|2522.0|       1|3 Story|   Row Inside|Very Good|Very Good|Common Brick|  Built Up|Hardwood|     2.0|         4|     24|    1680|2018-07-22 18:01:43|Residential|     null|      null|1744 SWANN STREET NW|WASHINGTON|   DC|20009.0|18S UJ 23074 09289|38.91468351|-77.04067788|     Old City 2|  040 D Old City 2|      4201.0| 004201 2006|Ward 2|  0152|-77.04042907495098|38.914881109044266|      NW|
|  3|     3|        1|Hot Water Rad|  Y|      2.0|    8|    5|1900.0| 2003.0|1984|    3.0|2006-07-12 00:00:00|1602000.0|        Q|       1|2484.0|       1|3 Story|   Row Inside|Very Good|     Good|Common Brick|  Built Up|Hardwood|     2.0|         3|     24|    1680|2018-07-22 18:01:43|Residential|     null|      null|1742 SWANN STREET NW|WASHINGTON|   DC|20009.0|18S UJ 23078 09288|38.91468254|-77.04062899|     Old City 2|  040 D Old City 2|      4201.0| 004201 2006|Ward 2|  0152|-77.04042907495098|38.914881109044266|      NW|
|  4|     2|        1|    Warm Cool|  Y|      1.0|   11|    3|1913.0| 2012.0|1985|    3.0|               null|     null|        U|       1|5255.0|       1|3 Story|Semi-Detached|Very Good|     Good|Common Brick|   Neopren|Hardwood|     1.0|         0|     13|    2032|2018-07-22 18:01:43|Residential|     null|      null|1804 NEW HAMPSHIR...|WASHINGTON|   DC|20009.0|18S UJ 23188 09253|38.91438281|-77.03936127|     Old City 2|  040 D Old City 2|      4201.0| 004201 2006|Ward 2|  0152|-77.04042907495098|38.914881109044266|      NW|
+---+------+---------+-------------+---+---------+-----+-----+------+-------+----+-------+-------------------+---------+---------+--------+------+--------+-------+-------------+---------+---------+------------+----------+--------+--------+----------+-------+--------+-------------------+-----------+---------+----------+--------------------+----------+-----+-------+------------------+-----------+------------+---------------+------------------+------------+------------+------+------+------------------+------------------+--------+
only showing top 5 rows

In [6]:
dcdata.describe(['PRICE']).show()

+-------+------------------+
|summary|             PRICE|
+-------+------------------+
|  count|             98216|
|   mean| 931351.5949336156|
| stddev|7061324.9556119405|
|    min|               1.0|
|    max|      1.37427545E8|
+-------+------------------+

In [9]:
dcdata.groupBy("ROOMS").avg("PRICE").orderBy("ROOMS").show()

+-----+------------------+
|ROOMS|        avg(PRICE)|
+-----+------------------+
|    0| 1088490.148148148|
|    1|      224517.90625|
|    2|1949664.9899691357|
|    3| 2217071.020540075|
|    4| 909270.1605109167|
|    5| 526515.8907682132|
|    6|442921.58700986527|
|    7|514975.68252080854|
|    8| 638748.8952567024|
|    9|  789671.449940547|
|   10| 915297.1920289855|
|   11|1133502.3383233533|
|   12| 901382.7240223463|
|   13|1669379.7375886524|
|   14|1434225.8025477708|
|   15| 1933945.594117647|
|   16| 590948.4454203262|
|   17|2928117.6470588236|
|   18|1504978.3333333333|
|   19|3248112.3529411764|
+-----+------------------+
only showing top 20 rows

In [12]:
dcdata.groupBy("LANDAREA").avg("PRICE").show()

+--------+------------------+
|LANDAREA|        avg(PRICE)|
+--------+------------------+
|    1088| 501045.9767441861|
|     833| 619731.2083333334|
|    1959| 597717.7272727273|
|    1238|          497549.0|
|    1342|          372736.0|
|    1829|          813809.0|
|    2122|441493.77777777775|
|    1591| 413001.6666666667|
|    1580|          476920.0|
|    1645|          600945.0|
|    3175| 474119.6923076923|
|    2142| 463816.6666666667|
|     496| 587783.3333333334|
|    7253|              null|
|    4900| 435033.3333333333|
|    6654|         1300000.0|
|    7880|          897500.0|
|    3997| 476666.6666666667|
|    7340|         1079000.0|
|    8389|         1066500.0|
+--------+------------------+
only showing top 20 rows

In [18]:
dcdata.selectExpr("min(EYB)", "max(EYB)").show()

+--------+--------+
|min(EYB)|max(EYB)|
+--------+--------+
|    1800|    2018|
+--------+--------+

In [20]:
dcdata.groupBy("SOURCE","CNDTN").avg("PRICE").show()

+-----------+---------+------------------+
|     SOURCE|    CNDTN|        avg(PRICE)|
+-----------+---------+------------------+
|Residential|     Fair|409360.44007858547|
|Residential|     Good| 655149.2966045662|
|Residential|Very Good| 945584.9956593325|
|Residential|  Average|  375583.619497772|
|Residential|  Default|         8518500.0|
|Residential|Excellent|1247995.2002249719|
|Condominium|     null| 1436073.252554817|
|Residential|     Poor|474262.63440860214|
+-----------+---------+------------------+

In [21]:
dcdata.groupBy("QUADRANT").avg("PRICE").show()

+--------+------------------+
|QUADRANT|        avg(PRICE)|
+--------+------------------+
|      NW|1317785.1587480297|
|      SW| 347048.9480189022|
|    null| 454064.9405940594|
|      NE| 392871.5477633875|
|      SE|368226.04414454184|
+--------+------------------+